#BackTop {
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 45%;
    opacity: 0.6;
    background: #F08632;
    cursor: pointer;
    position:fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
  }
  #BackTop::before, #BackTop::after {
    width: 25px;
    height: 6px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    position: absolute;
    content: "";
  }
  #BackTop::before {
    transform: rotate(-45deg) translate(0, -50%);
    left: 0.42rem;
  }
  #BackTop::after {
    transform: rotate(45deg) translate(0, -50%);
    right: 0.42rem;
  }
  .toTop-arrow:focus {outline: none;}
