.spad {
    background-color: white;
}

h6.checkout__title {
    border-bottom: 2px solid #111111;
}

#checkout__others {
    border-top: 1px solid #d7d7d7;
    margin-bottom: 20px;
}

div.checkout__divider {
    border-top: 1px solid #d7d7d7;
    height: 25px;
    margin-top: 5px;
}

ul.checkout__total__products samp {
    width: 30px;
}

.checkout__input input {
    color: black ;
}

::placeholder {
    color: #e1e1e1 !important;
}

span.error_message {
    color: #f08632;
}