div.restaurant_info{
    width: 400px;
    height: 700px;
}

div.pic_set{
    width: 400px;
    height: 700px;
}

.btns{
  font-size: 14px;
  color: #ffffff;
  background: #111111;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  padding: 14px 30px;
  text-align:center;
}

/* ==========輪播圖設定=========== */

      #drop_zone {
        border: 1px dashed #ccc;
        width: 120px;
        min-height: 150px;
        position: relative;
      }
      
      #drop_zone span.text {
        position: absolute;
        display: inline-block;
        left: 55%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: lightgray;
        width: 100px;
      }
      #drop_zone.-on {
        border: 1px dashed rgb(200, 194, 194);
        box-shadow: 0 0 15px rgb(200, 194, 194)
      }

      input[disabled] {
        background-color: #eee;
        cursor: not-allowed;
      }

    
      /* ==========菜單圖設定=========== */

      #drop_zone2 {
        border: 1px dashed #ccc;
        width: 120px;
        min-height: 150px;
        position: relative;
      }
      
      #drop_zone2 span.text {
        position: absolute;
        display: inline-block;
        left: 65%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: lightgray;
        width: 100px;
      }
      #drop_zone2.-on {
        border: 1px dashed rgb(200, 194, 194);
        box-shadow: 0 0 15px rgb(200, 194, 194)
      }


      #pic_remark{
        width:300px;
        height:100px;
        resize: none;
      }

      /* ==========貼文圖設定=========== */

      #drop_zone3 {
        border: 1px dashed #ccc;
        width: 120px;
        min-height: 150px;
        position: relative;
      }
      
      #drop_zone3 span.text {
        position: absolute;
        display: inline-block;
        left: 65%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: lightgray;
        width: 100px;
      }
      #drop_zone3.-on {
        border: 1px dashed rgb(200, 194, 194);
        box-shadow: 0 0 15px rgb(200, 194, 194)
      }

      #news_btn{
        position:absolute;
        bottom:200px;
        right:30%;
      }

      #news_btn > button{
        width:240px
      }

      /* =============頁籤切換============ */

      .tab_demo {
        padding: 20px;
      }
      
      .tab_title {
        display: flex;
      }
      
      .tab_title li {
        padding: 10px;
      }
      
      .tab_title li a {
        display: block;
        padding: 15px 30px;
        color: #111111;
        background-color: #fee192;
        border: #111111;
        font-weight: bold;
        text-decoration: none;
      }
      
      .tab_title li.active a {
        color: #fff;
        background-color: #F08632;
        font-weight: bold;
      }
      

/* ========================================= */


      .tab_inner {
        padding: 10px;
        height: 900px;
        width: 1000px;
        border: 1px solid #ccc;
      }

      .tab_inner > h3{
        font-weight: bold;
        background-color: #FFEFDE;
        margin-bottom: 20px;
      }
      
      ul{
        list-style: none;
      }

      form label {
        display: inline-block;
        width: 100px;
      }
      
      
      form div {
        margin-bottom: 10px;
      }
      
      
      .error {
        color: red;
        font-weight: bold;
      }
      
      
      
      label.error {
        display: inline;
      }
      
      
     
     

      

      
    