    
.owl-theme .item {
    height: 20rem;
  }

  .owl-theme .item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .rwd-map {
   display: block; position: relative;
   overflow: hidden; height: 0; padding: 0;
   padding-bottom: 75%;
  }
  .rwd-map iframe {
  position: absolute;
  height: 100%; width: 100%;
  left: 0; top: 0;
  }
  

  .inner_block{
    display: none;

  }

  div.blog__item__text > .inner_block.-on{
    display:inline-block;
  }

  .readmore.-on{
    margin-top: 20px;
    /* position: relative;
    top:20px; */

  }

  div#comment{
    width:360px;
    height:450px;
   background: #fdf3ea;
  }

  div#latest_comment{
    
    margin-right: 2px;
    width:360px;
    height:190px;
    border:1px solid gray;
  }

  div.coupon{
    background: #fdf3ea;
    border: 1px dashed gray;
    margin-bottom: 10px;
  }

  div.coupon.-on{
    background: orange;
    border: 1px dashed gray;
  }

  div.coupon > h4{
    text-align:center;
    color: black;
  }

  .container.menu{
    padding-bottom: 10%;
  }
