.spad {
    background-color: white;
}

/* details星等相關css */
.product__details__rating {
    position: absolute;
    left: 0;
    /* top: -22px; */
    text-align: center;
    width: 83.3px;
    unicode-bidi: bidi-override;
    color: #ccc;
    font-size: 20px;
    position: relative;
    margin-right: 5px;
    padding: 0;
    display: inline-block;

}

.fill-ratings {
    padding: 0;
    position: relative;
    z-index: 0;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

.fill-ratings span {
    /* Allows us to grab the width of the span elements*/
    display: inline-block;
    color: #f08632 !important;
}

.empty-ratings {
    margin-top: -28px;
    padding: 0;
    display: block;
    z-index: 1;
}

.empty-ratings span {
    color: #ccc !important;
}

.product__details__rating span {
    /* background: #ffffff;
    padding: 6px 10px 4px;
    box-shadow: 0 0 10px rgb(223 223 224 / 70%); */
    cursor: default;
}

/* related product星等相關css */
.product__item__pic .product__rating {
    position: absolute;
    left: 0;
    /* top: -22px; */
    text-align: center;
    width: 83.3px;
    float: right;
    unicode-bidi: bidi-override;
    color: #ccc;
    font-size: 20px;
    position: relative;
    margin-right: 5px;
    padding: 0;
}

.product__item__pic .empty-ratings {
    margin-top: -30.2px;
    padding: 0;
    display: block;
    z-index: 1;
}

/*尚未分類*/
div.product__details__text p {
    height: 84px;
}

div.product__details__option .quantity {
    float: left;
    margin-left: 50px;
}

div.product__details__option a.primary-btn {
    float: right;
    margin-right: 50px;
}

div.restaurant_resp > p {
    padding-top: 10px !important;
}

div.restaurant_resp > h5{
    color: #111111;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 4px;
}

div.testimonial__item > p {
    padding-top: 10px !important;
}

i.fa-solid {
    width: 100%;
    height: calc(100% - 300px);
    vertical-align: middle;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
    font-size: 30px;
    cursor: pointer;
}
/*@宜瀅評論的css*/
.testimonial__item {
    padding-top: 20px;
}
.testimonial__item .rating {
    position: absolute;
    left: 200px;
    top: 20px;
}

.testimonial__item .rating span {
    font-size: 30px;
}

span.icon_star.-off {
    color: gray;
}

.comment_pic {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 40px;
    top: 10px;

}

.comment_pic>a>img {
    width: 100%;
    height: 100%;
    border: 1px dashed gray;
    padding: 2px;
}

.product__item__text .added a {
    color: #ffffff;
    background-color: #111111;
    border-bottom: 0;
    padding: 6px 10px 4px;
}

.product__item__pic {
    cursor: pointer;
}

.product__item__pic span {
    cursor: default;
}